@charset "utf-8";
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.display-none {
    display: none;
}

.visible-xxs {
    display: none;
}

@media (max-width: 420px) {
    .visible-xxs {
        display: block !important;
    }
}

.red {
    color: red !important;
}

.search_table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse !important;
}

.search_table td {
    padding: 4px;
    background-color: #fff !important;
}

.search_table input,
.search_table select,
.res_select select {
    line-height: 1.42857143;

    height: 30px;
    padding: 6px 12px;

    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.search_table .bootstrap-select .btn {
    font-size: 1.2rem;
    color: #555;
}

.res_div {
    padding: 1.5rem 1.5rem;
    background-color: white;
    border-radius: 4px;

}

.info_div {
    font-size: 1.2rem;
    padding: 8px;
}

.res_select {
    padding: 0 0.9rem;
}

.tool_div {
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    width: auto;
    position: absolute;
    padding: 0.5rem 1rem;
    left: 7rem;
}

.tool_div2 {
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    width: auto;
    position: absolute;
    padding: 0.5rem 1rem;
    left: 16rem;
}

.div {
    padding: 0.8rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

#statistics {
    font-size: 1.2rem;
}

.div1 {
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.8rem;
}

.div3, .div2 {
    font-size: 1.2rem;
}


.a1, .a2 {
    text-decoration: none;
    font-size: 1.2rem;
}